.container-map {
  position: absolute;
  top: 0;
  left: 0;
  height: calc(100% - 70px);
  width: 100%;
  max-width: 900px;
  z-index: 99999;
  transform: translate(-50%);
  left: 50%;
}


iframe {
  border: none;
}

@media only screen and (max-width: 600px) {
  .container-map {
    top: 50px;
    height: calc(100% - 50px);
  }
}
