@import url("https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600&family=Josefin+Slab:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200&family=Mulish:ital,wght@0,300;0,500;1,200;1,300&family=Press+Start+2P&display=swap");

body {
  font-family: "Press Start 2P", cursive;
  color: #70e000;
  font-size: 14px;
}

/* BREAKPOINT | ESTILOS APLICADO QUANDO TELA MENOR QUE 600PX */
@media only screen and (max-width: 600px) {
  body {
    font-size: 10px;
  }

  .dia-noite {
    width: 25px;
    height: 25px;
  }
}

.menu {
  width: 100vw;
  background-color: #000;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
}

.container {
  display: flex;
  max-width: 1200px;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
}

.bloco-esq {
  display: flex;
  /* flex-direction: column; */
  column-gap: 25px;
}

.dia-noite {
  width: 50px;
  height: 50px;
  background-image: url("/public/logo192.png");
  background-repeat: no-repeat;
  background-size: contain;
  transform: rotate();
  animation: rotation infinite linear 10s;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
